body{
    margin-top: 50px;
}

.main{
    height: 100%;
    max-width: 90%;
}

#pdf_preview{
    height:100%;
    width: 100%;
}

.description > .ck-editor__editable{
    min-height: 300px;
}

#test .ck-editor__editable {
    min-height: 300px;
}